@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Libre+Baskerville&display=swap');
#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;

}

:root {
  --brand-dark: #180c2e; 
  --primary-white-text: white; 
  --primary-color: rgb(77, 97, 252);
  --text-color: #fff;
  --secondary-color: rgba(255, 255, 255, 0.6);
  --nav-text-color: rgb(107, 114, 128);

}
 

